<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="index.css" rel="stylesheet">
    <title>Login Form</title>
</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Login Form -->
        <form action="/login" method="post">
            <input type="text" id="name" class="fadeIn second" name="name" placeholder="Name">
            <input type="text" id="password" class="fadeIn third" name="password" placeholder="Password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>
    </div>
</div>
</body>
</html>